In [2]:
import numpy as np
import pandas as pd

In [3]:
df1 = pd.read_csv("test.csv")
df1.head()

   sqft  bedrooms  dist    price
0   500         2     5  5000000
1   600         2     6  6000000
2   800         3     7  6500000
3  1000         3    10  7500000
4  1000         3     6  8000000

In [4]:
X = df1.drop(['price'], axis="columns")

In [5]:
X.head()

   sqft  bedrooms  dist
0   500         2     5
1   600         2     6
2   800         3     7
3  1000         3    10
4  1000         3     6

In [6]:
y = df1['price']
y.head()

0    5000000
1    6000000
2    6500000
3    7500000
4    8000000
Name: price, dtype: int64

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=10)

In [9]:
from sklearn.linear_model import LinearRegression
myhpp = LinearRegression()
myhpp.fit(X_train, y_train)
myhpp.score(X_test, y_test)

0.3781150184895351

In [16]:
def predict1(sqft, bedrooms, dist):
    x = np.zeros(len(X.columns))
    x[0]= sqft
    x[1]= bedrooms
    x[2]= dist
    return myhpp.predict([x])[0]

In [17]:
predict1(500,2,5)

5292821.031344793

In [18]:
import pickle

In [20]:
with open('model.pickle','wb') as f:
    pickle.dump(myhpp,f)